[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-seed = "*"
ipython = "*"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-yasg = "*"
django-mysql = "*"
django-redis = "*"

[requires]
python_version = "3.8"
